*{
  
  box-sizing: border-box;
}


.title {
font-family: 'Times New Roman', Times, serif;
text-align: center;
text-decoration: solid;
font-size: 1.5rem;
color: #264f85;
padding-bottom: 150px;
}
.case {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(122, 87, 134);
  height: 65vh;
  
  width: 300px;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}





body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #7E60BF, #E4B1F0);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: space-between;
  height: 100vh

}

.calculator {
 display: grid;
 margin-top: 2 rem;
 grid-template-columns: repeat(4, 2fr);
 grid-template-rows: minmax(4rem, auto), repeat(5, 2fr);
 gap: 0.2rem;
}

.span-two {
  grid-column: span 2;
  
}

.equal_to {
  grid-column: span 2;
  
}

.output {
  grid-column: 1 / -1;
  background-color: #50255a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1rem;
  min-height: 6rem;
  max-height: 8rem;
  color: white;
}
 
.previous_operand{
  font-size: 3 rem;
  color: rgb(248, 148, 148);;
  padding: 0.5 rem;
}

.current_operand{
  font-size: 3 rem;
  color: rgb(241, 226, 226);
}

.calculator > button {
  background-color: #33173a;
  color: rgb(37, 180, 216);
  border: none;
  padding: 1rem;
  font-size: 2 rem;
  cursor:pointer;
}